  <div class="row">
       <div class="col-8 offset-2">
        <ngb-carousel>
          <ng-template ngbSlide >
            <img src="https://i.ibb.co/ZGsJ3dh/jio-mami-21st-mumbai-film-festival-with-star-2019-02-09-2019-10-58-45-992.png" alt="Random first slide" >
          </ng-template>
          <ng-template ngbSlide >
             <img src="https://i.ibb.co/wRr7W1P/hustlers-01-10-2019-05-09-55-486.png" alt="Random second slide">
          </ng-template>
          <ng-template ngbSlide >
          <img src="https://i.ibb.co/qFWPRpF/laal-kaptaan-16-10-2019-12-48-06-721.jpg"  alt="Random third slide">
          </ng-template>
        </ngb-carousel>
       </div>
      </div>
     
     
      